<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testcase.caseinfoMapper">
	<select id="selectid" resultType="testcase.caseinfo">
		SELECT * FROM test_case_source
		WHERE id = #{id}
	</select>

	<update id="updatacase1" parameterType="testcase.caseinfo">
		UPDATE test_case_source
		SET `status` = #{status},
		descript = #{descript} ,
		test_module=#{test_module},
		`level`=#{level},
		test_guidance=#{test_guidance},
		precondition=#{precondition},
		test_project=#{test_project},
		test_step=#{test_step},
		expected_results=#{expected_results},
		Attachment=#{Attachment}
		WHERE
		id =
		#{id}
	</update>

	<insert id="copycase" parameterType="testcase.caseinfo">
		INSERT INTO
		test_case_source_implement (
		plan_number,
		caseid,
		create_time,
		descript,
		create_user,
		test_module,
		level,
		test_guidance,
		precondition,
		test_project,
		test_step,
		expected_results,
		STATUS
		)
		SELECT
		#{plan_number},
		caseid,
		create_time,
		descript,
		create_user,
		test_module,
		level,
		test_guidance,
		precondition,
		test_project,
		test_step,
		expected_results,
		5
		FROM
		test_case_source
		WHERE
		test_project = #{test_project}
		AND level =
		#{level}

	</insert>

	<insert id="creatplan" parameterType="com.tcm.bean.TestPlan">
		INSERT INTO test_plan (
		id,
		test_plan_version,
		project,
		star_time,
		end_time,
		status,
		software_version,
		plan_version,
		note
		)
		VALUES
		(#{id},#{test_plan_version},#{project},#{star_time},#{end_time},#{status},#{software_version},#{plan_version},#{note})

	</insert>
	
	<insert id="creatplan1" parameterType="com.tcm.bean.TestPlan">
	INSERT INTO test_plan (
	id,
	test_plan_version,
	project,
	star_time,
	end_time,
	status,
	software_version,
	plan_version,
	note
	)
	SELECT
	MAX(id)+1,#{test_plan_version},#{project},#{star_time},#{end_time},#{status},#{software_version},#{plan_version},#{note}
	FROM test_plan
</insert>
	
	<select id="selectPlan1" resultType="com.tcm.selectplan.TestPlaninfo">
		SELECT
		*
		FROM
		test_plan
		where
		test_plan_version LIKE CONCAT('%','${_parameter}','%')
	</select>
</mapper>